.serverless/
node_modules/
.vscode/
.DS_Store
package-lock.jsonjest_0
jest_0/
dist

.swp
*.swp
.sonar

swagger/swagger.json
app/swagger/swagger.json
.webpack
stuff
stuff.js

coverage
tf/.terraform/
tf/statefile.tf
tf/terraform.tfvars
*backup

app/junit.xml
standingData.zip

app/build
app/.babel_cache